<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <remove name="aspNetCore" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="C:\Funcion\Functions.3.0.14191\3.0.14191\64bit\Microsoft.Azure.WebJobs.Script.WebHost.exe" hostingModel="InProcess">
      <environmentVariables>
        <environmentVariable name="AzureWebJobsStorage" value="UseDevelopmentStorage=true" />
        <environmentVariable name="ConectionStringRequest001" value="Endpoint=sb://crecoscorpprod.servicebus.windows.net/;SharedAccessKeyName=RootListenSharedAccessKey;SharedAccessKey=cHwMILbcjBXUFWQjugAV9GNT0+kqPiR3QFFxMXVGDmk=" />
        <environmentVariable name="ConectionStringResponse001" value="Endpoint=sb://crecoscorpprod.servicebus.windows.net/;SharedAccessKeyName=RootSendSharedAccessKey;SharedAccessKey=C9bdEuRdmxGd+TOGxSv3bS2fWVex1NKIUY91YdCvwb0=" />
        <environmentVariable name="QueueRequest001" value="apicob007001queuerequest" />
        <environmentVariable name="QueueResponse001" value="apicob007001queueresponse" />
        <environmentVariable name="ConectionStringRequest002" value="Endpoint=sb://crecoscorpprod.servicebus.windows.net/;SharedAccessKeyName=RootListenSharedAccessKey;SharedAccessKey=cHwMILbcjBXUFWQjugAV9GNT0+kqPiR3QFFxMXVGDmk=" />
        <environmentVariable name="ConectionStringResponse002" value="Endpoint=sb://crecoscorpprod.servicebus.windows.net/;SharedAccessKeyName=RootSendSharedAccessKey;SharedAccessKey=C9bdEuRdmxGd+TOGxSv3bS2fWVex1NKIUY91YdCvwb0=" />
        <environmentVariable name="QueueRequest002" value="apicob007002queuerequest" />
        <environmentVariable name="QueueResponse002" value="apicob007002queueresponse" />
        <environmentVariable name="MetodoWsUriConsumowebService001" value="/ProcesosServicioTecnico/CrearOrdenTrabajo
" />
	<environmentVariable name="UriConsumoWebService001" value="http://192.168.82.43:82" />
	<environmentVariable name="UriConsumoWebService002" value="http://192.168.82.13:82/CarteraDynamics" />
	<environmentVariable name="MetodoWsUriConsumowebService002" value="/api/dacion/solicitud/registrar" />
	<environmentVariable name="RutaLog" value= "c:\\log\\" />
	<environmentVariable name="MetodoWsUriAx" value="/api/equivalencia/grupo/empresa/ax" />
	<environmentVariable name="MetodoWsUriSiac" value="/api/equivalencia/grupo/empresa/siac" />
	<environmentVariable name="UriHomologacionDynamicSiac" value="http://192.168.82.13:82/EquivalenciaDynamics" />
	<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="SIT" />
	<environmentVariable name="IntentosREsponse" value="3" />
	<environmentVariable name="IntentosWS01" value="3" />
	<environmentVariable name="IntentosWS02" value="3" />
	<environmentVariable name="TimeSleepWS" value="1000" />
	<environmentVariable name="TimeOutResponse" value="5" />
	<environmentVariable name="LongAllenar" value="9" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>