<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <remove name="aspNetCore" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="E:\funcionesPWC\Functions.3.0.14191\3.0.14191\64bit\Microsoft.Azure.WebJobs.Script.WebHost.exe" hostingModel="InProcess">
      <environmentVariables>
        <environmentVariable name="AzureWebJobsStorage" value="UseDevelopmentStorage=true" />
        <environmentVariable name="ConectionStringRequest001" value="Endpoint=sb://colomatic.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=SvD6Zm7SAuRYtafH7MaapiwDYfrqogb4b6Ke5ZOml7I=" />
        <environmentVariable name="ConectionStringResponse001" value="Endpoint=sb://colomatic.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=SvD6Zm7SAuRYtafH7MaapiwDYfrqogb4b6Ke5ZOml7I=" />
        <environmentVariable name="QueueRequest001" value="apivta010001queuerequest" />
        <environmentVariable name="QueueResponse001" value="apivta010001queueresponse" />
        <environmentVariable name="UriConsumoWebService" value="http://192.168.82.13:82/CarteraDynamics/" />
        <environmentVariable name="MetodoWsUriConsumowebService" value="/devolucion/nota-credito/registrar" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" >
    </sectionGroup>
  </configSections>
</configuration>