<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <remove name="aspNetCore" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="C:\Funcion\Functions.3.0.14191\3.0.14191\64bit\Microsoft.Azure.WebJobs.Script.WebHost.exe" hostingModel="InProcess">
      <environmentVariables>
        <environmentVariable name="AzureWebJobsStorage" value="UseDevelopmentStorage=true" />
<environmentVariable name="ConectionStringResponse001" value="Endpoint=sb://crecoscorp.servicebus.windows.net/;SharedAccessKeyName=RootSendSharedAccessKey;SharedAccessKey=C9bdEuRdmxGd+TOGxSv3bS2fWVex1NKIUY91YdCvwb0=" />
<environmentVariable name="ConectionStringRequest001" value="Endpoint=sb://crecoscorp.servicebus.windows.net/;SharedAccessKeyName=RootListenSharedAccessKey;SharedAccessKey=cHwMILbcjBXUFWQjugAV9GNT0+kqPiR3QFFxMXVGDmk=" />
<environmentVariable name="QueueRequest001" value="apdsac003001queuerequest" />
<environmentVariable name="QueueResponse001" value= "apdsac003001queueresponse" />
<environmentVariable name="MetodoWsUriConsumowebService001" value="/api/InformeTecnico/Consultar/Fecha" />
<environmentVariable name="UriConsumoWebService001" value="http://192.168.82.13:82/InformesTecnicos" />
<environmentVariable name="RutaLog" value= "c:\\log\\" />
<environmentVariable name="MetodoWsUriAx" value="/api/equivalencia/grupo/empresa/ax" />
<environmentVariable name="MetodoWsUriSiac" value="/api/equivalencia/grupo/empresa/siac" />
<environmentVariable name="UriHomologacionDynamicSiac" value="http://192.168.82.13:82/EquivalenciaDynamics" />
<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="DEV03" />
<environmentVariable name="IntentosREsponse" value="3" />
<environmentVariable name="IntentosWS01" value="3" />
<environmentVariable name="IntentosWS02" value="3" />
<environmentVariable name="TimeSleepWS" value="300" />
<environmentVariable name="TimeOutResponse" value="5" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>